<style>
  .footer {    
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
  }
  </style>
  
      <!-- Footer -->
      <footer style="background-color: rgb(66,67,68)! important;border-top-right-radius: 40% 30%!important;border-top-left-radius: 40% 30%!important;">
        <div class="container">
          <p class="m-0 text-center text-white"><a class="text-white" href="https://github.com/brainhack-proceedings" target="_blank">BrainHack Proceedings</a></p>
          <p class="m-0 text-center text-white">Copyright &copy; {{ .Site.Params.footer.copyright }} {{ now.Year }}</p>
        </div><!-- /.container -->
      </footer>