
    <title>{{ .Site.Title }}</title>

    {{ $dir := "figures" }}
    {{ $images := readDir $dir | shuffle}}
    {{ $first := index $images 0 }}
    {{ $featured := (print "https://github.com/" $.Site.Data.ghdetails.repo "/blob/gh-pages/" $first.Name "?raw=true") }}

    <meta name="twitter:card" content= "summary"/>
    <meta name="twitter:site" content="@brainhack" />
    <meta name="twitter:title" content={{.Site.Data.report.report.title}} />
    <meta name="twitter:description" content={{.Site.Data.report.report.summary}} />
    <meta name="twitter:image" content={{ $featured }} />

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="shortcut icon" href="favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/business-frontpage.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.12.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qflashcard@1.0.1/dist/index.min.css" rel="stylesheet" type="text/css">
    
    <style>
      html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", cursive, sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #2e2e2e;
      }
      h1{
        font-size: 3rem;
        font-weight: 400;
        color: rgb(59,81,94);
      }
      h2{
        font-size: 2.5rem;
      }
      h3{
        font-size: 2rem;
        font-weight: 300;
      }
      p{
        font-size: 1rem;
      }
      .tags {
        list-style: none;
        margin: 0;
        overflow: hidden; 
        padding: 0;
      }
      
      .tags li {
        float: left; 
      }
      
      .tag {
        background: rgb(59,81,94);
        border-radius: 3px 0 0 3px;
        color: aliceblue;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
      }
      
      .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }
      
      .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid rgb(59,81,94);
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .tag:hover {
        background-color: rgb(66,67,68);
        color: white;
      }
      
      .tag:hover::after {
         border-left-color: rgb(66,67,68); 
      }
      html, body {
        overflow-x: hidden;
    }
    body{
      width: 100%;
    }
    </style>

    <script src="{{ .Site.BaseURL }}assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>