<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">


  <head>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "navbar.html" . }}
    {{ partial "header.html" . }}

    <!-- Page Content -->
    <div style="display:block; height:1000px;">
      
      <div class="container" style="overflow: auto;">
        <div class="row">
              <!-- PDF viewer-->
          <div class="col-lg-6" style="display:block;">
            <!-- TODO: Make template dynamic-->
            {{ partial "badge" (dict "name" "template") }} 
            <div>
            {{ partial "share-buttons.html" . }}
            </div>
            <iframe src="pdf/brainhack-template.pdf" width="589px" height="817vh" marginwidth="0" frameboreder="0" marginheight="0" style="border:none;margin-top:3px;">
              This browser does not support PDFs. Please download the PDF to view it: 
              <a href="brainhack-template.pdf">Download PDF</a></iframe>
          </div>
          <!-- Supplementary content-->
          <div class="col-md-6" style="padding-left: 5rem! important; padding-top: 4rem! important;">
 
            <h3>Abstract</h3>

            <h3>Tags</h3>
            
          </div>

        </div>
      </div>

    </div>
     

      </body>

      {{ partial "footer.html" . }}

</html>
