<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">


  <head>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "navbar.html" . }}
    {{ partial "header.html" . }}

    <!-- Page Content -->
    <div style="display:block; height:1000px;">
      
      <div class="container" style="overflow: auto;">
        <div class="row">
              <!-- PDF viewer-->
          <div class="col-lg-6" style="display:block;">
            <!-- TODO: Make template dynamic-->
            {{ partial "badge" (dict "name" "template") }} 
            <div>
            {{ partial "share-buttons.html" . }}
            </div>
            <iframe src="pdf/brainhack-template.pdf" width="589px" height="817vh" marginwidth="0" frameboreder="0" marginheight="0" style="border:none;margin-top:3px;">
              This browser does not support PDFs. Please download the PDF to view it: 
              <a href="brainhack-template.pdf">Download PDF</a></iframe>
          </div>
          <!-- Supplementary content-->
          <div class="col-md-6" style="padding-left: 5rem! important; padding-top: 4rem! important;">
            <!-- TODO: Direct this to project url.-->
            {{ partial "badge_custom" (dict "label" "GitHub" "message" "Project Repository" "https://github.com/brainhack-proceedings/template" "" "target" "_blank" "logo" "github" "logoWidth" "14" "color" "green")}}

            <h3 style="margin-top: 1em;">Abstract</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <h3 style="margin-bottom: 1em;">Tags</h3>
            <ul class="tags">
              <li><a href="#" class="tag">Neuroimaging</a></li>
              <li><a href="#" class="tag">MRI</a></li>
              <li><a href="#" class="tag">Workflows</a></li>
            </ul>

            <h3 style="margin-top: 1em;">Supplemental Materials</h3>
            <p>  Such as data etc. </p>
            
            <h3 style="margin-top: 1em;">License</h3>
            <p>  License description </p>

          </div>

        </div>
      </div>

    </div>
     

      </body>

      {{ partial "footer.html" . }}

</html>
