name: Publish to neurolibre.com
on: [push]

env:
 PUB_NAME: ${{ github.event.repository.name }}
jobs:
  buildPDF:
    runs-on: ubuntu-latest
    
    container:
      image: pandoc/latex@sha256:361a1405d45ffeb8da8a687f7d695c92d392a8bea9c931b0df240470c9692290    

    steps:
     - name: Checkout repository
       uses: actions/checkout@v2
     - name: Compile PDF
       run: |
        ls
        pandoc -s -N --template ./latex/brainhack-report-template.tex brainhack-report.md -o ./latex/brainhack-${{env.PUB_NAME}}.tex
        cd latex
        pdflatex brainhack-${{env.PUB_NAME}}.tex
        bibtex brainhack-${{env.PUB_NAME}}
        pdflatex brainhack-${{env.PUB_NAME}}.tex
        pdflatex brainhack-${{env.PUB_NAME}}.tex
     - uses: actions/upload-artifact@v2
       with:
         name: PDF
         path: latex/brainhack-${{env.PUB_NAME}}.pdf
        
       
